.header-mob {
    background-image: none;
    height: 40vh;

    h1 {
        margin-top: 2rem;
        width: 70%;
        text-align: center;
    }
}

article {

    div {
        text-align: center;
    }

    img {
        width: 50%;
        margin-bottom: 3rem;


    }

    p {
        margin-bottom: 2rem;
    }
}