* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    margin-top: 2rem;
    font-size: 4rem;
    color: #A12A0E;
    border: #A12A0E 3px solid;
    padding: 1rem;
}

h1 {
    color: #18543F;
    font-size: 3rem;
    text-align: center;
    
}

ul {
    text-align: center;
    padding: 1rem;
}

li {
    list-style: none;
    margin: 1rem;
    color: #18543F;
    font-size: 1.3rem ;
}

li a {
    text-decoration: none;
    font-size: 2rem;
    color: #18543F;

}

li a:hover {
    color: #A12A0E;
    font-size: 4rem;
}


@media screen and (max-width: 600px){


    span {
        font-size: 2rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    li {
        font-size: 0.8rem;
    }

    li a {
        font-size: 1rem;
    }

    li a:hover {
        color: #A12A0E;
        font-size: 2rem;
    }
}
    
