* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    margin-top: 1.5rem;
    font-size: 4rem;
    color: #A12A0E;
    border: #A12A0E 3px solid;
    padding: 1rem;
}

h1 {
    color: #18543F;
    font-size: 2.5rem;
    text-align: center;
    
}

h2, h3 {
    color: #18543F;
    font-size: 1rem;
    
}

ul {
    text-align: center;
    padding: 1rem;
}

li {
    list-style: none;
    margin: 1rem;
    color: #18543F;
    font-size: 1.3rem ;
}

li a {
    text-decoration: none;
    font-size: 1.7rem;
    color: #18543F;

}

li a:hover {
    color: #A12A0E;
    font-size: 3rem;
}


footer {
    width: 80%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-pres {
    display: flex;
    justify-content: space-between;
}

.text {
    border-bottom: #18543F 2px solid;
}

.photo {
    width: 100px;
    margin-right: 2rem;
}

.photo img {
    width: 100%;
}

.logo {
    width: 50px;
    margin-right: 1rem;
}

.logo img {
    width: 100%;
}

@media screen and (max-width: 600px){


    span {
        font-size: 2rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    li {
        font-size: 0.8rem;
    }

    li a {
        font-size: 1rem;
    }

    li a:hover {
        color: #A12A0E;
        font-size: 2rem;
    }
}
    
