* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: sans-serif;
    background-color: #18543f2d;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: #18543F;
    color: white;
    padding: 0 2rem;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 15%;
}

.toggle {
    display: none;
}

.menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.menu button:hover {
    font-size: 1.5rem;
    background-color: #A12A0E;

}

.menu a:hover {
    color: #A12A0E;
    font-weight: 800;
}

.btn {
    border: 0;
    background-color: #A12A0E;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: white;
}

.btn-secondary {
    background-color: transparent;
    border: #A12A0E 2px solid;
    color: white;
}


/* Section HERO */

.hero {
    width: 100%;
    height: 90vh;
    background-image: url(./img/pexels-anni-roenkae-2317710.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 3rem;
    background-color: #18543F;
    color: white;
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
}





/* SLIDER */

.titre-projets {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: #A12A0E 2px solid;
    color: #18543F;
    margin: 2rem;
}


.slider {
    height: 80vh;
    width: 100%;
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider .active {
    opacity: 1;
}


.suivant, .precedent {
    color: #18543F;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}


.slider_deux {
    height: 80vh;
    width: 100%;
    position: relative;
}

.slider_deux img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider_deux .active_deux {
    opacity: 1;
}

.suivant_deux, .precedent_deux {
    color: #18543F;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant_deux {
    right: 10rem;
}

.precedent_deux {
    left: 10rem;
}

/* formulaire */

#formulaire {
    margin: 4rem auto;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    z-index: 1000;
    
}

#formulaire h2 {

    color: #A12A0E;
    font-size:6vh;
    margin:auto 20px;
    text-transform:uppercase;
    margin: 2rem auto;
    border-bottom: 2px solid #A12A0E;
}

#formulaire :nth-child(1) {


    align-self: flex-start;
}

#formulaire :nth-child(2) {


    align-self: center;
    
}

form {

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;;
    background-color: #A12A0E;
    width: 40%;
    padding: 1vh;
    margin:auto;
}

::placeholder {

    color:#fff;
}

input {

    margin: 10px 0;
    border:transparent;
    border-bottom: solid 1px #fff;
    background-color: #A12A0E;
    color:#fff;
    width:100%;
    padding:20px;
    font-family: 'IBM Plex Sans', sans-serif;

}

textarea {

    margin: 10px;
    border:transparent;
    border-bottom: solid 1px #fff;
    background-color: #A12A0E;
    color:#fff;
    width:100%;
    padding:20px;
    height:200px

}

input[type="submit"] {
    border:1px solid #fff;
    border-radius:5px;
    width:50%;
    padding:20px;
    text-transform:uppercase;
    font-weight: bold;

}

input[type="submit"]:hover {

    background-color:#A12A0E ;
}

/* FOOTER */ 

footer {
    margin-top: 3rem;
    background-color: #18543F;
    width: 100%;
    height: 30vh;
}


/* Media Queries */ 

@media all and (max-width: 991px){
    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }
    header{ 
        background-color: transparent;
    }

    .logo {
        position: relative; 
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer{
        display: none;
    }

    .open .ouvrir {
        display: none; 
    }

    .open .fermer {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #A12A0E;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .open .menu {
        transform: translateX(0);
    }

    .menu a {
        font-size: 2rem;
    }

    .btn {
        font-size: 2rem;
    }


    /* SLIDER 2 */

    .suivant_deux {
        right: 2rem;
    }
    
    .precedent_deux {
        left: 2rem;
    }
}


/* POP UP */

.close {
    font-size: 3rem;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 20px;
}

.pop-up {
    color: white;
    background-color: #18543F;
    width: 300px;
    height: 200px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-up h3 {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
}

.pop-up button {
    padding: 1rem;
    background-color: #A12A0E;
    border-radius: 20px;
}

.pop-up button:hover {
    background-color: #542418;
}

.pop-up a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}